transformers==4.29.2
PySide6
pybind11
cython
scipy
soxr
scikit-learn
numba
pydantic
tqdm
rotary_embedding_torch
tokenizers
inflect
progressbar
einops==0.4.1
unidecode
librosa==0.9.1
ffmpeg
numpy
numba
threadpoolctl
llvmlite
appdirs
nbconvert==5.3.1
tornado==4.2
pydantic==1.9.1
py-cpuinfo
hjson
py-splash
Pillow
PySide6
setuptools_rust